.about-post {
  height: calc(100vh - 132px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .post-text {
    width: 45%;
    > h2 {
      --text-opacity: 1;
      color: rgba(0, 73, 142, var(--text-opacity));
      margin-bottom: 2.5rem;
    }
    > div {
      margin-right: 5rem;
      > p {
        margin-bottom: 16px;
      }
    }
  }
  .post-image {
    width: 45%;
  }
}
.about-service {
  display: flex;
  align-items: center;
  flex-direction: column;
  .serviceList {
    .products {
      display: grid;
      grid-template-columns: repeat(9, minmax(0, 1fr));
      grid-gap: 1rem;
      margin: 5rem;
      > div {
        display: flex;
        flex-direction: column;
        &:last-child {
          display: none;
        }
        .product-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 15px;
          > h5 {
            font-size: 16px;
            line-height: normal;
            margin-top: 15px;
          }
          .serviceIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            border: 1px solid #00498e;
            > img {
              max-width: 45px;
              height: 45px;
            }
          }
        }
        .product-desc {
          padding-left: 1.5rem;
          ul {
            li {
              list-style: disc;
            }
          }
        }
      }
    }
  }
}
