.homeSlider {
  height: calc(100vh - 132px);
  display: flex;
  justify-content: center;
  align-items: center;
  .sliderText {
    width: 70%;
    > h1 {
      font-size: 64px;
      line-height: normal;
    }
  }
}
