.firstPart {
  height: calc(100vh - 132px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem;
  .page-posts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    > div {
      width: 23%;
      > h2 {
        margin-bottom: 1rem;
        font-size: 20px;
        white-space: nowrap;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > div {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
      }
      > a {
        > img {
          margin-top: 1rem;
          height: 450px;
          object-fit: cover;
          object-position: center;
          border: 1px solid #eee;
        }
      }
    }
  }
}
