@media only screen and (max-width: 1599px) {
  .homeSlider {
    .sliderText {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 1199px) {
  footer {
    .footer {
      width: 95%;
    }
  }
  .homeSlider {
    .sliderText {
      width: 90%;
      > h1 {
        font-size: 60px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .main-header {
    height: 70px;
    .menus {
      display: flex;
      justify-content: center;
      .topMenuList,
      .botMenuList {
        display: none;
      }
      .burger {
        height: 40px;
        width: 40px;
        .burger-line {
          height: 4px;
        }
      }
    }
  }
  .page {
    margin-top: 88px;
  }
  footer {
    height: auto;
    .footer {
      flex-direction: column;
      > div {
        width: 100%;
        margin: 10px 0 5rem 0;
        &:first-child {
          width: 70%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
  .homeSlider {
    .sliderText {
      width: 95%;
      > h1 {
        font-size: 32px;
      }
      > h2 {
        font-size: 16px;
      }
    }
  }
  footer {
    .footer {
      > div {
        &:first-child {
          width: 100%;
        }
      }
    }
  }
}
